.requests-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  margin: 32px auto;
}

.requests-container header {
  display: flex;
  align-items: center;
  max-width: 80%;
}

.requests-container header span {
  font-size: 20px;
  margin-left: 24px;
}

.requests-container header img {
  height: 128px;
}

.requests-container header a {
  margin-left: auto;
  width: 260px;
}

.requests-container header button {
  height: 48px;
  min-width: 64px;
  border-radius: 24px;
  border: 1px solid #8c0000;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.2s;
}

.requests-container header button:hover {
  border-color: #999;
}

.requests-container h1 {
  margin-top: 64px;
  margin-bottom: 24px;
}

.requests-container h2 {
  margin-top: 64px;
  margin-bottom: 24px;
}

.requests-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  max-width: 800px;
  padding: 24px;
}

.requests-container ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 24px;
  width: 96%;
  word-break: break-word;
}

.requests-container ul li button {
  position: absolute;
  right: 0px;
  top: 18px;
  border: 1px;
}

.requests-container ul li button:hover {
  opacity: 0.6;
}

.requests-container ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.requests-container ul li p + strong {
  margin-top: 32px;
}

.requests-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 16px;
}

.relativeTime {
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #737380;
  text-transform: uppercase;
}

.AddNewPrayerRequest {
  width: 30%;
  height: 48px;
  border-radius: 24px;
  background-color: #8c0000;
  border: 0;
  color: #fff;
  font-weight: bold;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.3s;
}

.AddNewPrayerRequest:hover {
  filter: brightness(80%);
}

@media only screen and (max-width: 650px) {
  .AddNewPrayerRequest {
    width: 72%;
    height: 48px;
    font-size: 1.1em;
  }
  .requests-container ul li {
    width: 96vw;
  }
}

@media only screen and (max-width: 320px) {
  .AddNewPrayerRequest {
    width: 72%;
    height: 48px;
    font-size: 1.1em;
  }
  .requests-container ul li {
    width: 96vw;
  }
  .requests-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    max-width: 96vw;
    padding: 24px;
  }
}
